@charset "UTF-8";

:root {
    --bg-color: #f0f0f0;
    --base-color: #388e3c;
}

html, body {
    margin : 0;
    padding: 0;
    padding-top: 72px;

    background-color: var(--bg-color);

    font: 500 14px/150% 'Open Sans', sans-serif;
}

.clearfix::after {
    display: table;
    clear: both;
}

.header-pad {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-tab {
    width: 100%;
    height: 72px;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dsp-btw {
    display: flex;
    justify-content: space-between;
}

.logoCap {
    width: 10px;
    height: 72px;
}


.menu-list {
    width: calc(100% - 100px);
    height: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;

    .item-list {
        height: 72px;
        line-height: 72px;
        padding: 0 8px;
        box-sizing: border-box;
        font-size: .95rem;
        font-weight: 550;
        color: white;
        text-transform: uppercase;
        display: inline-block;

        a {
            text-decoration: none;
            color: #fff;
            padding: 8px;
            border-radius: 2px;
            box-sizing: border-box;
            &:hover {
                background: rgba(0,0,0, .1);
            }
        }
    }
}

.ws-pre-window {
    width: 100%;
    height: auto;
    padding: 32px 0;
    box-sizing: border-box;
    background-color: transparent;
}

.wrapper {
    width: 1166px;
    height:  auto;
    margin: 0 auto;
}

.ws-pre-window {
    .wrapper {
        display: flex;
        justify-content: flex-start;
    }
}

.slideshow-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .24);
    border-radius: 3px;
    overflow: hidden;
}


.block-box {
    width: calc(100% - 380px);
}

.block-title {
    width: 80%;
    font-size: 2.4rem;
    line-height: 1.1;
    letter-spacing: .5px;
    color: #fff;
}

.block-stamp {
    font-size: 1.2rem;
    color: rgba(255,255,255, .8);
    padding: 32px 0;
}

.button-model {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #039be5;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto,sans-serif;
    height: 36px;
    margin: 0;
    margin-right: 16px;
    min-width: 36px;
    outline: 0;
    overflow: hidden;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.block-action {
    button.login-session-button {
        @extend .button-model;
        background-color: darken(#388e3c, 5%);
        color: #fff;
    }

    button.signup-session-button {
        @extend .button-model;
        color: var(--base-color);
    }
}




.scenario-carousel {
    width: calc(350px * 7);
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
}

// =============================================================================
@import "headers/headers";
// =============================================================================
@import "navs/navs";
// =============================================================================
@import "layouts/layouts";
@import "layouts/slideshows";
// =============================================================================
@import "config/mobile-config";
