doctype html
html(lang="en", manifest="").html
    head
        
        meta(name="theme-color", content="#388e3c")
        
        title=`${page_title}`
        
        link(rel="stylesheet", href="/css/styles.css")
        
    body
        .app
    
            header.header-pad
                nav.nav-tab
                    .wrapper.dsp-btw
                        .logoCap 
                        .menu-tab
                            ul.menu-list
                                li(class="item-list") 
                                    a(href="") home
                                li(class="item-list") 
                                    a(href="handlebars/index.handlebars") about us
                                li(class="item-list") 
                                    a(href="") pricing
                                li(class="item-list") 
                                    a(href="") our offer
                                li(class="item-list") 
                                    a(href="") datacenters
                                li(class="item-list") 
                                    a(href="") customer services
                                li(class="item-list") 
                                    a(href="") blog
                                
                            
                
                .ws-pre-window
                    .wrapper
                        .block-box
                            .block-title Get started and be part of the new era with us
                            .block-stamp Sign up or login to your account.
                            .block-action
                                button.login-session-button login
                                button.signup-session-button signup
                                    
                        .slideshow-box
                            ul.scenario-carousel
                                li.scenario
                                    .image-box
                                    .block-text
                    
                    
            section#welcome
                .wrapper
                    
                    
                    
            footer#footer-pad
                .wrapper
