doctype
html(
    lang="en", 
    manifest="").html
    head
        meta(name="theme-color", content="#333")
        meta(charset="UTF-8")
            
        title=`${page_title}`
        
        meta(name="viewport", content="")
            
        link(rel="stylsheet", href="/css/styles.css")
            
    body
        
        
        
